asgiref==3.8.1
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.1.4
gunicorn==23.0.0
idna==3.10
packaging==24.2
python-dotenv==1.0.1
requests==2.32.4
sqlparse==0.5.1
tzdata==2024.2
urllib3==2.5.0

