{% extends "beavers_homes/layout.html" %}
{% block title %} Contact Us | Reliable Electricians in Dayton, OH | Beavers Homes LLC {% endblock %}
{% block meta_description %} Get in touch with Beavers Homes LLC for expert electrical solutions in Dayton, OH. Contact us today to schedule a consultation, request a free estimate, or learn more about our services. {% endblock %}
{% block body %}
<section id="contact">
    <div class="container">
        <header>
            <h1>Contact Us</h1>
            <p>If you have any questions or need assistance, feel free to reach out to us. We're here to help!</p>
        </header>
        {% if request.GET.success %}
            <div id="message">
                <p>Thank you for reaching out to us!</p>
                <p>We appreciate your message and will get back to you as soon as possible.</p>
            </div>
        {% endif %}
        <!-- Contact Form -->
        <form method="POST" action="{% url 'contact' %}" class="contact-form" id="contact-form">
            {% csrf_token %}
            {{ form }}  <!-- Renders the form fields -->
            <div class="cf-turnstile"></div>
            <button type="submit" class="primary-btn" id="form-button" disabled>Send Message</button>
        </form>
    </div>
</section>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit" async defer></script>

<script>
  const siteKey = "{{ TURNSTILE_SITE_KEY }}";
  window.onload = function() {
        turnstile.render('.cf-turnstile', {
            sitekey: siteKey,
            callback: function(token) {
                console.log('Turnstile token:', token);
                const hidden = document.querySelector('[name="turnstile_token"]');
                hidden.value = token;
                const btn = document.getElementById('form-button');
                btn.disabled = false;
                btn.style.pointerEvents = 'auto';
                btn.style.opacity = 1;
                // Handle successful verification
            },
            'error-callback': function(errorCode) {
                console.error('Turnstile error:', errorCode);
            }
        });
    };
</script>
{% endblock %}
