{% extends "beavers_homes/layout.html" %}
{% load static %}
{% block title %} Our Work | Electrical Projects Gallery in Dayton, OH | Beavers Homes LLC {% endblock %}
{% block meta_description %} Explore the Beavers Homes Gallery to see our completed electrical projects in Dayton, OH. From small repairs to major installations, view the quality and reliability we bring to every job. {% endblock %}
{% block body %}
<section id="projects">
    <div class="container">
        <header>
            <h1>Our Projects</h1>
            <p>Explore real examples of our residential electrical work performed for homeowners in Dayton and the surrounding areas.</p>
        </header>
        <div class="gallery">
            <div class="gallery-item">
                <img src="{% static 'beavers_homes/images/project1.jpg' %}" alt="Recessed lighting installation in Dayton Ohio home by Beavers Homes electricians">
            </div>
            <div class="gallery-item">
                <img src="{% static 'beavers_homes/images/project2.jpg' %}" alt="Electrical panel replacement completed by Beavers Homes LLC in Dayton OH">
            </div>
            <div class="gallery-item">
                <img src="{% static 'beavers_homes/images/project3.jpg' %}" alt="Whole-home electrical rewire project completed in Dayton OH">
            </div>
            <div class="gallery-item">
                <img src="{% static 'beavers_homes/images/project4.jpg' %}" alt="Outdoor meter and service upgrade installed by Beavers Homes electricians Dayton Ohio">
            </div>
            <div class="gallery-item">
                <img src="{% static 'beavers_homes/images/project5.jpg' %}" alt="Underground electrical conduit installation at new construction site in Dayton Ohio by Beavers Homes electricians">
            </div>
            <div class="gallery-item">
                <img src="{% static 'beavers_homes/images/project6.jpg' %}" alt="Beavers Homes electrician trucks at new home construction site in Dayton Ohio during electrical rough-in">
            </div>
            <div class="gallery-item">
                <img src="{% static 'beavers_homes/images/project7.jpg' %}" alt="Tesla EV wall charger installation by Beavers Homes LLC electricians in Dayton Ohio garage">
            </div>
            <div class="gallery-item">
                <img src="{% static 'beavers_homes/images/project8.jpg' %}" alt="Under-cabinet lighting and appliance electrical installation in Dayton Ohio kitchen by Beavers Homes LLC">
            </div>
            <div class="gallery-item">
                <img src="{% static 'beavers_homes/images/project9.jpg' %}" alt="Residential electrical meter and service disconnect installation in Dayton Ohio by Beavers Homes LLC">
            </div>
        </div>
    </div>
</section>

{% endblock %}