{% extends "beavers_homes/layout.html"%}
{% block body %}
<div id="hero">
  <div class="hero-container container">
    <div class="hero-overlay">
      <div id="hero-content" class="box">
        <h1>Your Trusted Local Electrician in <span>Dayton, OH</span></h1>
        <h2>Powering Your Home with Care</h2>
        
        <!--<p>
          Welcome to Beavers Homes! We proudly offer professional electrical services in Dayton, OH, 
          and surrounding areas, from repairs and new installations to complex electrical upgrades.
        </p>-->
        <a class="primary-btn" href="{% url 'contact' %}">Get a Quote</a>
      </div>
    </div>
  </div>

  </div>
    
  <section>
    <div class="container">
      <header id="whyChooseUs">
        <h1>Why Choose Us as Your Local Electrician?</h1>
      </header>
      <div class="row">
        <article class="col-12 col-lg-4 g-3">
          <div class="feature">
            <div class="feature-header"></div>
            <div class="p-3">
              <header>
                <h6>Reliable & Experienced Team</h6>
              </header>
              
              <p>
              Our <strong>certified electricians</strong> bring years of hands-on experience, 
              ensuring <em>safe, efficient, and code-compliant electrical solutions</em> for your home or business.
              </p>
            </div>

          </div>
          
        </article>
        <article class="col-12 col-lg-4 g-3">
          <div class="feature">
            <div class="feature-header"></div>
            <div class="p-3">
              <header>
                <h6>Comprehensive Electrical Services</h6>
              </header>
              <p>
                We offer a <strong>full suite of residential electrical services</strong>, 
                all customized to meet your specific needs.
              </p>  
            </div>
          </div>
          
        </article>
        <article class="col-12 col-lg-4 g-3">
          <div class="feature">
            <div class="feature-header"></div>
            <div class="p-3">
              <header>
                <h6>Local Commitment</h6>
              </header>
              <p>
                As a <strong>locally based electrical contractor</strong>, we understand the unique requirements of homes 
                in <span class="location">Dayton,OH</span>. When you choose 
                <span class="company-name">Beavers Homes</span>, you’re choosing a neighbor dedicated to high-quality service.
              </p>
            </div>

          </div>
        </article>
        <!--<article class="col-12 col-lg-3 g-3">
          <div class="feature">
            <header class="feature-header">
            <h3 class="p-2">Customer Satisfaction Guaranteed</h3>  
            </header>
            
            <p class="p-3">
              Our commitment to <strong>exceptional electrical service</strong> and <strong>customer satisfaction</strong> 
              sets us apart.
            </p>
          </div>

        </article>-->
      </div>
    </div>

  </section>
  <section id="services">
    <div class="container">
      <header id="servicesHeader">
        <h1>Our Electrical Services</h1>
      </header>
        <div class="services-grid">
          <div class="service-card">
            <div class="feature-header">
            </div>
            <div class="p-3">
              <header>
                <h6>Panel Upgrades & Sub Panels</h6>
              </header>
              <p class="hide-service-card-paragraph-mobile">Enhance your electrical capacity with modern, efficient panel upgrades and sub-panels for safe energy management.</p>
            </div>       
          </div>
          <div class="service-card">
            <div class="feature-header"></div>
            <div class="p-3">
              <header>
                <h6>Hot Tubs & Spa Wiring</h6>
              </header>
              <p class="hide-service-card-paragraph-mobile">Relax worry-free with safe, professional wiring solutions for hot tubs and spas, tailored to your needs.</p>
            </div>               
          </div>
          <div class="service-card">
            <div class="feature-header"></div>
            <div class="p-3">
              <header>
                <h6>Additions & Remodel Wiring</h6>
              </header>
              <p class="hide-service-card-paragraph-mobile">Seamlessly integrate electrical systems for your home additions or remodels, ensuring safety and reliability.</p>
            </div>
          </div>
          <div class="service-card">
            <div class="feature-header"></div>
            <div class="p-3">
              <header>
                <h6>New Circuit Installations</h6>
              </header>
              <p class="hide-service-card-paragraph-mobile">Expand your electrical capabilities with new circuit installations for appliances, workshops, and more.</p>
            </div>                         
          </div>
          <div class="service-card">
            <div class="feature-header"></div>
            <div class="p-3">
              <header>
                <h6>Fixture & Device Swapping</h6>
              </header>
              <p class="hide-service-card-paragraph-mobile">Upgrade your fixtures and devices effortlessly with expert replacement services that ensure top-notch performance.</p>
            </div>         
          </div>
          <div class="service-card">
            <div class="feature-header"></div>
            <div class="p-3">
              <header>
                <h6>Ceiling Fan Installation</h6>
              </header>
              <p class="hide-service-card-paragraph-mobile">Stay cool with professional ceiling fan installations, bringing comfort and style to your spaces.</p>
            </div>
      
          </div>
          <div class="service-card">
            <div class="feature-header"></div>
              <div class="p-3">
                <header>
                  <h6>Generator Transfer Switches</h6>
                </header> 
                <p class="hide-service-card-paragraph-mobile">Prepare for outages with safe, reliable generator transfer switch installations for uninterrupted power.</p>
              </div>
              
              
          </div>
          <div class="service-card">
            <div class="feature-header"></div>
            <div class="p-3">
              <header>
                <h6>Car Charger Installations</h6>
              </header>
              <p class="hide-service-card-paragraph-mobile">Power your EV at home with expert car charger installations that meet modern standards.</p>
            </div>

          </div>
        </div>
    </div>
</section>
{% endblock %}